.banniere {
        height: 30vh;
        position: relative;
        bottom: -5vh;

        & img{
            width: 100%;
        }
        @media  screen and( min-width: 1024px) {
            height: 60vh;
            scale:(1.3);
        }
}
