.menu{
    background-color: $ligth-background-color;
    border-radius: 25px 25px 0 0;
    position: relative;
    padding: 1vh 3vw 3vh 3vw;
 
   &__titre{
        display: flex;
        justify-content: space-between;
        font-style:italic;
        font-size: 1.4em;
    }
}

.menu__like  {
        display: flex;
        align-items: center;
        margin-right: 1vw;
        cursor: pointer;
}        
        
.menu__like .far{
    @include coeur;

        &:hover{
          opacity:0;
          z-index: -1;
        }
      }
      
    .menu__like .fas{
        @include coeur-rempli;

        &:hover{
            opacity:1;
            z-index: 1;
        }
    } 
   
.menu__card h2{
    font-weight: normal;
    border-bottom: 2px solid $tertiary-color;
    padding-bottom: 5px;
    width: 55px;
}

.menu__plat:nth-child(1){
    animation: menu 1000ms ease-in  ;
}

.menu__plat:nth-child(2){
    
    animation: menu 1500ms ease-in  ;
}

.menu__plat:nth-child(3){
    
    animation: menu 2000ms ease-in   ;
}

.menu__plat:nth-child(4){
    animation: menu 2500ms ease-in;
}

.menu__alignement{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.menu__plat{
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-height: 50px;
    border-radius: 10px;
    width:320px;
    margin-bottom: 2vh;
    margin-right: 2vw;
    cursor: pointer;

    &:hover{ 
        .menu__check{
        opacity: 1;
        width: 20%;
        }

        .menu__check i{
            transform: rotateZ(360deg);
        }
    }

    .menu__texte{
        padding: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 300px;
    }

    .menu__prix{
        display: flex;
        flex-direction: column-reverse;
        font-weight: bold;
        margin: 10px 20px 6px auto;
    }
       
   .menu__check{
    display: flex;
    background-color: $tertiary-color;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0;
    opacity:0;
    width: 1%;
    transition: ease-in-out 700ms;

        i{
            color: $tertiary-color; 
            background-color: white;
            border-radius: 50%;
            font-size: 1.5em;
            transition: ease-in-out 700ms;
              
        }   
    }  

}

