.menu{
    background-color: $ligth-background-color;
    border-radius: 25px 25px 0 0;
    position: relative;
    padding: 1vh 3vw 3vh 3vw;
 
   &__titre{
        display: flex;
        justify-content: space-between;
        font-style:italic;
        font-size: 1.4em;
    }
}

.menu__like  {
        display: flex;
        align-items: center;
        margin-right: 5vw;
        cursor: pointer;
}        
        
.menu__like .far{
        opacity:1;
        position:absolute;
        transition: ease-in 1500ms;
    
        &:hover{
          opacity:0;
          z-index: -1;
        }
      }
      
    .menu__like .fas{
        position:relative;
        opacity:0;
        background: linear-gradient(to bottom,#FF79DA,#9356DC );
        -webkit-background-clip: text;
        color:transparent;
        transition:1500ms ease-in ;
        
        &:hover{
            opacity:1;
            z-index: 1;
        }
    } 
   
.menu__card h2{
    font-weight: normal;
    border-bottom: 2px solid $tertiary-color;
    padding-bottom: 5px;
    width: 55px;
}

.menu__card-entree{
    animation: menu 1000ms ease-in-out  ;
}

.menu__card-plat{
    animation: menu 2000ms ease-in-out;
}

.menu__card-dessert{
    animation: menu 3000ms ease-in-out ;
}

.menu__alignement{
    display: flex;
    flex-wrap: wrap;
}

.menu__plat{
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-height: 50px;
    border-radius: 10px;
    min-width: 320px;
    width: 360px;
    margin-bottom: 2vh;
    margin-right: 2vw;
    cursor: pointer;

    &:hover{ 
        .menu__check{
        opacity: 1;
        width: 20%;
        }

        .menu__check i{
            transform: rotateZ(360deg);
        }
    }

    .menu__texte{
        padding: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 300px;
    }

    .menu__prix{
        display: flex;
        flex-direction: column-reverse;
        font-weight: bold;
        margin: 10px 20px 6px auto;
    }
       
   .menu__check{
    display: flex;
    background-color: $tertiary-color;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0;
    opacity:0;
    width: 1%;
    transition: ease-in-out 500ms;

        i{
            color: $tertiary-color; 
            background-color: white;
            border-radius: 50%;
            font-size: 1.5em;
            transition:  ease-in-out 500ms;   
        }   
    }  

}

