.menu{
    background-color: $ligth-background-color;
    border-radius: 25px 25px 0 0;
    position: relative;
    padding: 1vh 3vw 3vh 3vw;
 
   &__titre{
        display: flex;
        justify-content: space-between;
        font-style:italic;
        font-size: 1.4em;
    }

    &__like{
        display: flex;
        align-items: center;
        margin-right: 5vw;
    }
}

.menu__card h2{
    font-weight: normal;
    border-bottom: 2px solid $tertiary-color;
    padding-bottom: 5px;
    width: 55px;
}

.menu__alignement{
    display: flex;
    flex-wrap: wrap;
}

.menu__plat{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    width: 340px;
    margin-bottom: 2vh;
    margin-right: 2vw;

    .menu__texte{
        padding: 8px;
    }

    .menu__prix{
        display: flex;
        flex-direction: column-reverse;
        font-weight: bold;
        padding: 6px;
    }

    .menu__check{
        display: flex;
        color: $tertiary-color;
        background-color: $tertiary-color;
        width: 15%;
        align-items: center;
        justify-content: center;
        border-radius: 0px 10px 10px 0;
        display: none;

        i{
            background-color: white;
            border-radius: 20px;
            font-size: 1.5em;
        }
    }
}


