@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg);
    opacity: 0.8;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@keyframes index {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carte {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("polices/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular");
}
.menu h1 {
  font-family: "Shrikhand", Arial, sans-serif;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: 2100px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

* {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  width: 200px;
  height: 40px;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 2px 2px 5px #9356DC;
  border-radius: 20px;
  border-style: none;
  font-size: 1.1em;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 4px 4px 10px #9356DC;
  cursor: pointer;
}

.btn-menu {
  margin: 4vh 15vw 5vh 15vw;
}
@media screen and (min-width: 750px) {
  .btn-menu {
    margin: 4vh 30vw 5vh 30vw;
  }
}
@media screen and (min-width: 1024px) {
  .btn-menu {
    margin: 4vh 35vw 5vh 35vw;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem;
}
footer img {
  height: 15px;
  filter: invert(100%);
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  color: white;
}

.head {
  display: flex;
  align-items: center;
  margin: 3vh 3vw -3vh 3vw;
}
.head__icone {
  font-size: 1.2em;
}
.head__logo {
  position: absolute;
  left: 30vw;
}
@media screen and (min-width: 750px) {
  .head__logo {
    position: absolute;
    left: 40vw;
  }
}
.head__logo img {
  width: 180px;
}

.banniere {
  height: 30vh;
  position: relative;
  bottom: -5vh;
}
@media screen and (min-width: 750px) {
  .banniere {
    height: 40vh;
  }
}
@media screen and (min-width: 1024px) {
  .banniere {
    height: 80vh;
  }
}
.banniere img {
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
  padding: 1vh 3vw 3vh 3vw;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 1.4em;
}

.menu__like {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  cursor: pointer;
}

.menu__like .far {
  opacity: 1;
  transition: ease-in 1500ms;
  position: absolute;
}
.menu__like .far:hover {
  opacity: 0;
  z-index: -1;
}

.menu__like .fas {
  opacity: 0;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  transition: 1500ms ease-in;
  position: relative;
}
.menu__like .fas:hover {
  opacity: 1;
  z-index: 1;
}

.menu__card h2 {
  font-weight: normal;
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 5px;
  width: 55px;
}

.menu__plat:nth-child(1) {
  animation: carte 1000ms ease-in;
}

.menu__plat:nth-child(2) {
  animation: carte 1500ms ease-in;
}

.menu__plat:nth-child(3) {
  animation: carte 2000ms ease-in;
}

.menu__plat:nth-child(4) {
  animation: carte 2500ms ease-in;
}

.menu__alignement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu__plat {
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-height: 50px;
  border-radius: 10px;
  width: 320px;
  margin-bottom: 2vh;
  margin-right: 2vw;
  cursor: pointer;
}
.menu__plat:hover .menu__check {
  opacity: 1;
  width: 20%;
}
.menu__plat:hover .menu__check i {
  transform: rotateZ(360deg);
}
.menu__plat .menu__texte {
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}
.menu__plat .menu__prix {
  display: flex;
  flex-direction: column-reverse;
  font-weight: bold;
  margin: 10px 20px 6px auto;
}
.menu__plat .menu__check {
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0;
  opacity: 0;
  width: 1%;
  transition: ease-in-out 700ms;
}
.menu__plat .menu__check i {
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  font-size: 1.5em;
  transition: ease-in-out 700ms;
}

.head-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.head-index img {
  width: 150px;
}

.localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #DCDCDC;
}
.localisation__icone {
  width: 150px;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}
.presentation p {
  font-size: 1.2em;
}

.description h2 {
  margin: 2rem 1rem 2rem 1rem;
}

.description-alignement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.description-alignement .description__fonction {
  border-radius: 15px;
  background-color: #f6f6f6;
  margin: 1rem;
  height: 45px;
  width: 300px;
  display: flex;
  align-items: center;
}
.description-alignement .description__numbers {
  margin-right: 0.5rem;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  padding-top: 2px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 10px;
}
.description-alignement .description__icone {
  margin-right: 1rem;
  color: gray;
}
.description-alignement .description__icone--purple {
  color: #9356DC;
}
.description-alignement .description__text {
  font-weight: bold;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1rem;
}

.restaurant-alignement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin: 2rem;
}
.card__image img {
  height: 150px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}
.card__new {
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  margin-left: 210px;
  position: absolute;
}
.card__heading {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.card__like {
  font-size: 1.1em;
}

.card__like .far {
  opacity: 1;
  transition: ease-in 1500ms;
  position: absolute;
}
.card__like .far:hover {
  opacity: 0;
  z-index: -1;
}

.card__like .fas {
  opacity: 0;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  transition: 1500ms ease-in;
  position: relative;
}
.card__like .fas:hover {
  opacity: 1;
  z-index: 1;
}

.container-index, .footer-index {
  animation: index 4500ms ease-in;
}

.loading {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 30vh;
  right: 40vw;
  border: 20px solid #DCDCDC;
  border-top: 20px solid #9356DC;
  border-radius: 50%;
  animation-delay: -3000ms;
  animation: loader 2000ms;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=style.css.map */
