@font-face {
  font-family: "Shrikhand";
  src: url("polices/Shrikhand-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "Roboto";
  src: url("polices/Roboto/Roboto-Regular.ttf") format(truetype);
}
head img, footer img, h1, h2 {
  font-family: "Shrikhand", Arial, sans-serif;
}

* {
  font-family: "Roboto", Arial, sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: 2100px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 40px;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 2px 2px 5px #9356DC;
  border-radius: 20px;
  border-style: none;
  font-size: 1.1em;
}

.btn-menu {
  margin: 4vh 15vw 5vh 15vw;
}
@media screen and (min-width: 750px) {
  .btn-menu {
    margin: 4vh 30vw 5vh 30vw;
  }
}
@media screen and (min-width: 1024px) {
  .btn-menu {
    margin: 4vh 35vw 5vh 35vw;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem;
}
footer img {
  height: 15px;
  filter: invert(100%);
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  color: white;
}

.head {
  display: flex;
  align-items: center;
  margin: 3vh 3vw -3vh 3vw;
}
.head__icone {
  font-size: 1.2em;
}
.head__logo {
  position: absolute;
  left: 30vw;
}
@media screen and (min-width: 750px) {
  .head__logo {
    position: absolute;
    left: 40vw;
  }
}
.head img {
  width: 180px;
}

.banniere img {
  height: 30vh;
  width: 100%;
  position: relative;
  bottom: -5vh;
}
@media screen and (min-width: 1024px) {
  .banniere img {
    height: 60vh;
  }
}

.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
  padding: 1vh 3vw 3vh 3vw;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 1.4em;
}
.menu__like {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

.menu__card h2 {
  font-weight: normal;
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 5px;
  width: 55px;
}

.menu__alignement {
  display: flex;
  flex-wrap: wrap;
}

.menu__plat {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  width: 340px;
  margin-bottom: 2vh;
  margin-right: 2vw;
}
.menu__plat .menu__texte {
  padding: 8px;
}
.menu__plat .menu__prix {
  display: flex;
  flex-direction: column-reverse;
  font-weight: bold;
  padding: 6px;
}
.menu__plat .menu__check {
  display: flex;
  color: #99E2D0;
  background-color: #99E2D0;
  width: 15%;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0;
  display: none;
}
.menu__plat .menu__check i {
  background-color: white;
  border-radius: 20px;
  font-size: 1.5em;
}

.head-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.head-index img {
  width: 150px;
}

.localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #DCDCDC;
}
.localisation__icone {
  width: 150px;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}
.presentation p {
  font-size: 1.2em;
}

.description {
  margin: 2rem 1rem 2rem 1rem;
}

.description-alignement {
  display: flex;
  flex-wrap: wrap;
}
.description-alignement .description__fonction {
  border-radius: 15px;
  background-color: #f6f6f6;
  margin: 1rem 2rem 1rem 0;
  height: 45px;
  width: 300px;
  display: flex;
  align-items: center;
}
.description-alignement .description__numbers {
  margin-right: 0.5rem;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  padding-top: 2px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 10px;
}
.description-alignement .description__icone {
  margin-right: 1rem;
  color: gray;
}
.description-alignement .description__icone--purple {
  color: #9356DC;
}
.description-alignement .description__text {
  font-weight: bold;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1rem;
}

.restaurant-alignement {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.card__image img {
  height: 150px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}
.card__new {
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  margin-left: 210px;
  position: absolute;
}
.card__heading {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.card__like i {
  font-size: 1.1em;
}

/*# sourceMappingURL=style.css.map */
