.btn{
   
    width: 200px;
    height: 40px;
    color: white;
    background: linear-gradient( to top,#9356DC,#FF79DA );
    box-shadow: 2px 2px 5px #9356DC;
    border-radius: 20px;
    border-style:none;
    font-size: 1.1em;
}

.btn-menu{
   margin: 4vh 15vw 5vh 15vw; 

   @media screen and (min-width: 750px) {
    margin: 4vh 30vw 5vh 30vw;
   }

   @media screen and (min-width: 1024px) {
       margin: 4vh 35vw 5vh 35vw;
   }
}