@font-face {
    font-family:"Shrikhand" ;
    src: url("polices/Shrikhand-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Roboto";
    src: url("polices/Roboto-Regular.ttf") format(truetype);
}

header img, footer img, h1, h2 {
    font-family: "$police-titre", Arial, sans-serif;
}

*{
    font-family: "$police-main", Arial, sans-serif;
}
