@mixin align-index{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin coeur{
opacity:1;
transition: ease-in 1500ms;
position:absolute;
}

@mixin coeur-rempli{
    opacity:0;
        background: linear-gradient(to bottom,#FF79DA,#9356DC );
        -webkit-background-clip: text;
        color:transparent;
        transition:1500ms ease-in ;
        position:relative;
}